---
import ButtonGroup from "../ui/ButtonGroup.astro";
---

<header id="site-header text-" class="fixed top-0 left-0 w-full z-50 bg-white">
  <div
    class="max-w-7xl mx-auto text- px-6 py-4 flex items-center justify-between"
  >
    <a href="/" class="flex items-center gap-3">
      <img src="/images/logo_ACISLAB.png" alt="ACISLAB" class="h-10" />
    </a>
    <ButtonGroup />
  </div>
</header>
