---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout>
    <Hero></Hero>
    <ButtonGroup>
        <LinkButton href="/Projects">
            Our research
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-cube">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M21 16.008v-8.018a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.008c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0l7 -4.008c.619 -.355 1 -1.01 1 -1.718"/>
                <path d="M12 22v-10"/>
                <path d="M12 12l8.73 -5.04"/>
                <path d="M3.27 6.96l8.73 5.04"/>
            </svg>
        </LinkButton>
        <LinkButton href="/Publications">
            Theses and papers
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                 class="icon icon-tabler icons-tabler-filled icon-tabler-article">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19 3a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h14zm-2 12h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm0 -4h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm0 -4h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z"/>
            </svg>
        </LinkButton>
        <LinkButton href="/Members">
            Members
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"/>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
            </svg>
        </LinkButton>
        <LinkButton href="/Contact">
            Contact
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-address-book">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2"/>
                <path d="M10 16h6"/>
                <path d="M11 11a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                <path d="M4 8h3"/>
                <path d="M4 12h3"/>
                <path d="M4 16h3"/>
            </svg>
        </LinkButton>
    </ButtonGroup>
    <section>

    </section>
</Layout>
