---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import About from "../components/About.astro";
import MembersCardsSection from '../components/MembersCardsSection.astro';
import ResearchAreas from "../components/ResearchAreas.astro";
---

<Layout>
    <main class="flex flex-col gap-y-10  px-4 md:px-0">
        <Hero/>
        <ButtonGroup/>
        <About/>
        <ResearchAreas/>
        <MembersCardsSection/>
    </main>
</Layout>
