---
import {Image} from 'astro:assets';
import itsonImg from '../assets/itson-scaled.jpg';
---
<section class="max-w-7xl mx-auto px-6 py-16 flex flex-col md:flex-row items-center gap-12">
    <div class="flex-1">
        <h2 class="text-brand-secondary font-bold text-xl mb-4">
            About ACISLAB
        </h2>
        <div class="space-y-6 text-acislab-gray leading-relaxed text-sm lg:text-base">
            <p>
                ACISLAB is a research laboratory based at the Instituto Tecnológico
                de Sonora (ITSON), Mexico, dedicated to the study and development of
                human-centered artificial intelligence.
            </p>
            <p>
                Our mission is to design intelligent systems that not only optimize
                tasks, but are capable of understanding, modeling, and responding
                to the human cognitive and emotional condition. We believe that the
                future of artificial intelligence lies in its ability to collaborate
                with humans in meaningful, transparent, and socially responsible ways.
            </p>
            <p>
                Our research spans foundational work in affective computing and
                intelligent systems, as well as applied research in healthcare
                informatics, where we design and deploy intelligent technologies
                to support caregivers, patients, and healthcare professionals in
                real-world contexts.
            </p>
        </div>
    </div>
    <div class="flex-1 relative">
        <Image
                src={itsonImg}
                alt="itsonBuilding"
                width={400}
                height={400}
                format="webp"
                class="object-cover"
        />
    </div>

</section>