---
import HeaderButton from "./HeaderButton.astro";
console.log('Header component loaded');
---

<header class="py-0 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-b lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-black">
            ACISLAB
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Affective Computing and Intelligent Systems
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <HeaderButton href="/Projects">Projects</HeaderButton>
        <HeaderButton href="/Publications">Publications</HeaderButton>
    </nav>
</header>