---
import HeroVideoLoop from "./HeroVideoLoop.astro";
---
<section
        data-hero
        class="max-w-7xl mx-auto px-4 md:px-6 flex flex-col md:flex-row items-center
         justify-between gap-10 overflow-hidden pt-24">

    <div class="flex-1 w-full text-center">
        <h1 class="text-5xl md:text-8xl font-bold text-brand-secondary
        tracking-widest md:tracking-[0.2em] mb-10 md:mb-28 uppercase drop-shadow-sm">
            ACISLAB
        </h1>
        <div class="flex flex-col md:flex-row justify-between items-start w-full max-w-6xl mx-auto px-10 gap-28">

            <div class="flex-1 text-center">
                <a href="/HealthCareSystems" class="group block">
                    <h2 class="text-lg md:text-2xl font-bold text-black uppercase leading-tight tracking-widest transition-all duration-300 group-hover:text-brand-secondary group-hover:scale-105">
                        Healthcare-Centered <br /> Systems
                    </h2>
                </a>
            </div>

            <div class="flex-1 text-center">
                <a href="/AffectiveComputing" class="group block">
                    <h2 class="text-lg md:text-2xl font-bold text-black uppercase leading-tight tracking-widest transition-all duration-300 group-hover:text-brand-secondary group-hover:scale-105">
                        Affective Computing and <br /> Intelligent Systems
                    </h2>
                </a>
            </div>
        </div>
    </div>
</section>
