---
import HeroVideoLoop from "./HeroVideoLoop.astro";
---
<section class="max-w-6xl mx-auto px-6 py-20 flex flex-col md:flex-row items-center justify-between gap-10 font-sans">

    <div class="flex-1">
        <h1 class="text-5xl md:text-7xl font-bold text-brand-secondary tracking-[0.2em] mb-14 uppercase drop-shadow-sm">
            ACISLAB
        </h1>

        <h2 class="text-3xl md:text-4xl font-semibold text-black leading-tight max-w-lg tracking-wider">
            Affective Computing and Intelligent Systems
        </h2>
    </div>
    <HeroVideoLoop/>
</section>