---
import { getCollection } from "astro:content";
import { Navigation, Autoplay } from "swiper/modules";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("projects");

const { project } = Astro.props;
---

<section class="w-full py-24 bg-white">
    <div class="max-w-7xl mx-auto px-6 mb-12 flex items-center justify-between">
        <h2 class="text-4xl font-bold text-brand-secondary">Projects</h2>

        <a
            href="/projects"
            class="text-brand-primary font-medium flex items-center gap-2 hover:underline"
        >
            View all
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>

    <div class="relative px-6">
        <div class="swiper projectsSwiper">
            <div class="swiper-wrapper">
                {
                    projects.map((project: unknown) => (
                        <div class="swiper-slide h-auto">
                            <ProjectCard project={project} />
                        </div>
                    ))
                }
            </div>
        </div>

        <button
            class="swiper-button-prev
         absolute top-1/2 -translate-y-1/2 left-2 z-10
         bg-white border border-slate-200
         w-12 h-12 rounded-full shadow
         flex items-center justify-center"
        ></button>

        <button
            class="swiper-button-next
         absolute top-1/2 -translate-y-1/2 right-2 z-10
         bg-white border border-slate-200
         w-12 h-12 rounded-full shadow
         flex items-center justify-center"
        ></button>
    </div>
</section>

<script client:load>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";

  new Swiper(".projectsSwiper", {
    modules: [Navigation, Autoplay],
    slidesPerView: 1,
    spaceBetween: 32,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    autoplay: {
      delay: 1200,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    },

    breakpoints: {
      640: { slidesPerView: 1.2 },
      768: { slidesPerView: 2 },
      1024: { slidesPerView: 3 },
    },
  });
</script>
