---
import '@fontsource-variable/geist'
import '../styles/global.css';
import 'aos/dist/aos.css';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <title>ACISLAB</title>
</head>
<body class="min-h-screen pb-32">
<main class="animate-fade-in animate-duration-1000">
    <slot/>
</main>
</body>
<script>
    import AOS from "aos";

    document.addEventListener('DOMContentLoaded', () => {
        AOS.init({
            duration: 1000,
            once: true,
            easing: 'ease-out-quad',
        });
    });
</script>
</html>


